extends base.pug

block scripts
    script(src='../static/index.js')

block style
    style 
        include ../static/style.css
        include ../static/styleCart.css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css", integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==", crossorigin="anonymous", referrerpolicy="no-referrer")

block content
  div#cart-contents
    h1 Your Cart
    table.table
      thead
        tr
          th Product
          th Product Name
          th Quantity
          th Price
      tbody
        each item in cartItems
          tr
            td
              img.productImage(src=item.proImage, alt=item.proName)
            td #{item.proName}
            td #{item.quantity}
            td #{item.price}
    p.subtotal Subtotal : Rs. #{subtotal}
